 <header class="p-3 text-bg-dark">
      <div class="container">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li> <%= link_to 'INNOVA CRM', root_path, class:"nav-link px-2 text-white"%></li>
        </ul>
          <div class="text-end">
            <%= link_to "Log in", new_user_session_path, class:"btn btn-outline-light me-2" %>
            <%= link_to "Sign up", new_user_registration_path, class:"btn btn-warning"%>
          </div>
        </div>
      </div>
    </header>